/* navbar title */
.VPNavBarTitle {
  .title {
    font-size: 24px;
    /* css text gradient */
    background: -webkit-linear-gradient(
      120deg,
      orange 50%,
      gold,
      yellow,
      lightyellow
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background: -webkit-linear-gradient(
        0deg,
        orange 50%,
        gold,
        yellow,
        lightyellow
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/* social link left border */
.VPSocialLinks {
  &.VPNavBarSocialLinks {
    &.social-links {
      &::before {
        background-color: lightgrey;
      }
    }
  }
}

.VPContent {
  background-image: url("../assets/bbburst_random_shapes.svg");
  background-size: cover;
  background-position: center;

  &.has-sidebar {
    /* If there is sidebar, no background image added. */
    background-image: none;
  }
}

.text-wrap {
  white-space: normal !important;
  word-wrap: break-word;
}
