/* navbar title */
.VPNavBarTitle {
  .title {
    font-size: 24px;
    /* css text gradient */
    background: -webkit-linear-gradient(180deg,
        orange 50%,
        gold,
        yellow,
        lightyellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      transform: translateX(20px);
      transition: transform 0.2s ease-in-out;
      background: -webkit-linear-gradient(0deg,
          orange 50%,
          gold,
          yellow,
          lightyellow);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::before {
      content: url('../assets/bolt-solid.svg');
      margin-right: 5px;
    }
  }
}

/* social link 左邊白線 */
.VPSocialLinks {
  &.VPNavBarSocialLinks {
    &.social-links {
      &::before {
        background-color: white;
      }
    }
  }
}