/* navbar title */
.VPNavBarTitle {
  .title {
    font-size: 24px;
    /* css text gradient */
    background: -webkit-linear-gradient(120deg,
        orange 50%,
        gold,
        yellow,
        lightyellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background: -webkit-linear-gradient(0deg,
          orange 50%,
          gold,
          yellow,
          lightyellow);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/* social link 左邊線 */
.VPSocialLinks {
  &.VPNavBarSocialLinks {
    &.social-links {
      &::before {
        background-color: lightgrey;
      }
    }
  }
}

.VPContent {
  background-image: url('../assets/bbburst_random_shapes.svg');
  background-size: cover;
  background-position: center;

  &.has-sidebar{ /* 有sidebar的版面(目前是notes page有sidebar)，就不加背景圖 */
    background-image: none;
  }
}